<h1>Detalhes da Venda</h1>
<p>ID: <%= venda.id %></p>
<p>ID do Usuário: <%= venda.usuario_id %></p>
<p>ID do Produto: <%= venda.produto_id %></p>
<p>Quantidade: <%= venda.quantidade %></p>
<p>Valor Total: <%= venda.valor_total %></p>
<a href="/vendas" class="btn btn-primary">Voltar à Lista</a>
